<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />
</head>
   
<nav>
   <button><a href="/animes">Home</a></button>
</nav>
<body>
    
            <h1 class="text-center text-info">
              Review this Anime
            </h1>
          
        </div> 

    <h1> 
        <%= an.title %> 
    </h1>
    <img src="<%= an.animeImg %>">
    <div id="form">
        <section>
            <article>
             
            </article>
        </section>
     <form  action="/animes/<%= an._id %>/reviews" method='POST'>
         <article> Aired:<%= an.releaseYear %> </article>
         <p>Submit your review of this anime below!</p>
         <textarea name ="content" class="review" id="reviews" cols="45" rows="5"></textarea>
         <button type="submit">Post</button>
         
         <p><%= an.animeDes %> </p>
        </form>
    </div>
    <div>
        <% an.reviews.forEach(function(a){ %>
            <table>
                <tbody>
                  <% if (user?._id.equals(a.user)) { %>
                    <tr>
                        <form action="/reviews/<%= a._id %>?_method=PUT" method="POST">
                            <td><label for="comment" name="comment">Comment:</label></td>
                            <td><input name="" type="text" value="<%= a.content %>"></td>
                           <td><label for="content" name="Comment">Rating:</label></td>
                        <td><input name="rating" type="text" value="<%= a.rating %>"></td>
                        <td>User:<%= a.userName %></td>
                        <td>
                        </td>
                        <td>
                            <button type="submit">Update</button>
                        </td>
                    </form>
                    <form action="/reviews/<%= a._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    </tr>
                    <% } else { %>
                      <tr>
                        <td>Post:<%= a.content %></td>
                        <td>Rating:<%= a.rating %></td>
                        <td>User:<%= a.userName %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% }) %>
    </div>
</body>
</html>